#root {
  width: 600px;
  width: 100%;
  background: yellow;
  text-align: center;
}
.input {
  width: 300px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  background: purple;
  color: white;
  text-align: center;
}

.btn {
  width: 300px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  background: purple;
  color: white;
  display: block;
}
.listProp .completed {
  text-decoration: line-through;
}
